@model FlightsManager.Models.Web.Flights.AddFlightViewModel
@{
    ViewData["Title"] = "Create";
    
    FlightsManager.Models.Data.FlightsManagerContext ctx = new FlightsManager.Models.Data.FlightsManagerContext();
    List<FlightsManager.Models.Data.Address> addrs = ctx.Addresses.Where(a => a.Id == 2).ToList();
    List<FlightsManager.Models.Data.Plane> planes = ctx.Planes.ToList();
    List<int> addrsFromIds = new List<int>();
    List<int> addrsToIds = new List<int>();
    List<int> planesIds = new List<int>();

    List<string> addrsFromNames = new List<string>();
    List<string> addrsToNames = new List<string>();
    List<string> planesNames = new List<string>();
    foreach (FlightsManager.Models.Data.Address item in addrs)
    {
        addrsFromIds.Add(item.Id);
        addrsFromNames.Add(ctx.LivingPlaces.Find(item.LivingPlaceId).Name + ", " + ctx.Countries.Find(item.CountryId).Name);

        addrsToIds.Add(item.Id);
        addrsToNames.Add(ctx.LivingPlaces.Find(item.LivingPlaceId).Name + ", " + ctx.Countries.Find(item.CountryId).Name);
    }
    foreach (FlightsManager.Models.Data.Plane item2 in planes)
    {
        planesIds.Add(item2.Id);
        planesNames.Add(item2.UniquePlaneNumber);
    }

    List<FlightsManager.Models.Data.Plane> allPlanes = ViewData["allPlanes"] as List<FlightsManager.Models.Data.Plane>;
}

<h2>Create Flight</h2>
<form method="post" class="container-fluid" asp-controller="Flight" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr class="d-table-row">
                <th class="col-12">
                    <p>Flight Information</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-table-row">
                <th class="table-active col-6">
                    <p>Location From</p>
                </th>
                <td class="col-6">
                    <select asp-for="LocationFromId" class="form-control required-fields">
                        @{
                            for (int i = 0; i < addrsFromIds.Count; i++)
                            {
                                <option value=@addrsFromIds[i]>@addrsFromNames[i]</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="LocationFromId" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-6">
                    <p>Location To</p>
                </th>
                <td class="col-6">
                    <select asp-for="LocationToId" class="form-control required-fields">
                        @{
                            for (int i = 0; i < addrsToIds.Count; i++)
                            {
                                <option value=@addrsToIds[i]>@addrsToNames[i]</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="LocationToId" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-6">
                    <p>Take Off Date</p>
                </th>
                <td class="col-6">
                    <input asp-for="TakeOffDateTime" class="form-control required-fields" type="datetime-local" />
                    <span asp-validation-for="TakeOffDateTime" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-6">
                    <p>Landing Date</p>
                </th>
                <td class="col-6">
                    <input asp-for="LandingDateTime" class="form-control required-fields" type="datetime-local" />
                    <span asp-validation-for="LandingDateTime" class="text-danger"></span>
                </td>
            </tr>
            <tr class="d-table-row">
                <th class="table-active col-6">
                    <p>Plane Unique Number</p>
                </th>
                <td class="col-6">
                    <select asp-for="PlaneId" class="form-control required-fields">
                        @{
                            for (int i = 0; i < allPlanes.Count; i++)
                            {
                                <option value=@planesIds[i]>@allPlanes[i].UniquePlaneNumber</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="PlaneId" class="text-danger"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a type="button" name="backToAllFlightsBtn" class="btn btn-light" asp-area="" asp-controller="Flight" asp-action="AdminIndex">Back</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}