@model FlightsManager.Models.Data.Flight
@{
    var flight = ViewData["Flight"] as FlightsManager.Models.Data.Flight;
    var locationFrom = ViewData["LocationFrom"] as string;
    var locationTo = ViewData["LocationTo"] as string;
    var duration = (flight.LandingDateTime - flight.TakeOffDateTime).TotalMinutes;

    var passagersNames = ViewData["passagers"] as string;
}
<h1>Flight Information</h1>
<table>
    <tr>
        <td>
            Location From:
        </td>
        <td>
            @locationFrom
        </td>
    </tr>
    <tr>
        <td>
            Location To:
        </td>
        <td>
            @locationTo
        </td>
    </tr>
    <tr>
        <td>
            Take Off Date:
        </td>
        <td>
            @flight.TakeOffDateTime
        </td>
    </tr>
    <tr>
        <td>
            Duration:
        </td>
        <td>
            @duration min.
        </td>
    </tr>
    <tr>
        <td>
            Passagers:
        </td>
        <td>
            @passagersNames
        </td>
    </tr>
</table>
