@model FlightsManager.Models.Data.Flight
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var flight = ViewData["Flight"] as FlightsManager.Models.Data.Flight;
    var locationFrom = ViewData["LocationFrom"] as string;
    var locationTo = ViewData["LocationTo"] as string;
}
<h1>Flight Information</h1>
<table>
    <tr>
        <td>
            Location From:
        </td>
        <td>
            @locationFrom
        </td>
    </tr>
    <tr>
        <td>
            Location To:
        </td>
        <td>
            @locationTo
        </td>
    </tr>
    <tr>
        <td>
            Take Off Date:
        </td>
        <td>
            @flight.TakeOffDateTime
        </td>
    </tr>
    <tr>
        <td>
            Landing Date:
        </td>
        <td>
            @flight.LandingDateTime
        </td>
    </tr>
</table>
