@{
    ViewData["Ttile"] = "Welcome!";
}

<h1>@ViewData["Title"]</h1>
<br />
<div class="container">
    <h2>National programme "IT Career Education" - Pravets, Bulgaria</h2>
    <hr />
    <br />
    <p>This is a <strong>Software Engineering course's project</strong> for flights managing.</p>
    <p>Author: Petya Angelova Licheva, XI class</p>
</div>
