@model FlightsManager.Models.Web.Employees.IndexEmployeeViewModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<p>Welcome, @Html.DisplayFor(modelItem => Model.Items.First().Username)!</p>