@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<span>Username:</span>
<input type="text" name="username" />
<span>Password:</span>
<input type="password" name="pass1" />
<br />

<a type="button" name="signUpBtn">Login</a>
<a type="button" name="signUpBtn" asp-area="" asp-controller="Employee" asp-action="SignUp">Sign Up</a>
