@model FlightsManager.Models.Web.Employees.SignUpEmployeeViewModel
@{
    ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>

@{
    var employee = ViewData["Employee"] as FlightsManager.Models.Data.Employee;
}

<p>Successfully signed up! </p>